#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url('./assets/background.jpg');
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

section {
  border: 1px solid #ebebeb;
  background-color: #ebebeb;
  border-radius: 4px;
  padding: 15px;
  border-radius: 5px;
  margin-block: 10px;
}

main {
  opacity: .9;
  padding: 15px;
  border-radius: 15px;
  background-color: #70c6f5;
  -webkit-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
}